<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
    <title>Document</title>
</head>
<body>
  <nav id="nav-1">
    <a class="link-1" href="/users">Home</a>
    <a class="link-1" href="/users/logout">LogOut</a>
   
  </nav>

    <section class="webdesigntuts-workshop">
      <form action="/users/weather" method="GET">          
          <input name="cityName" type="text" placeholder="Enter City Name to see current Weather?">               
          <button type="submit">Search</button>
      </form>
  </section>
</body>
</html>
